html {
    font-family: sans-serif;
}

header {
    background-color: #430f73;
    padding: 10px;
    text-align: right;
}

.nav-bar {
    display: inline-block;
    background-color: #0000ff;
    color: #fff;
    padding: 10Px 30px;
    text-decoration: none;
    font-weight: 600;
}

.nav-bar:hover {
    background-color: #b2b2f7;
}

.section_01 {
    background-color: #03A9F4;
    padding: 30px;
}

.img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border: 4px solid #430f73;
    border-radius: 50%
}

.nome {
    text-align: center;
    color: #fff;
}

.description {
    text-align: center;
    color: #000;
    font-weight: 600;
}

.titulo_01 {
    text-align: center;
    color: #03A9F4;
}

.section_02 {
    background-color: #fff;
    padding: 30px
}

.texto {
    text-align: center;
    color: #000;
    font-weight: 600;
}


.titulo_02 {
    text-align: center;
    color: #fff;
}

.iframe_01 {
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.iframe_02 {
    padding-top: 30px;
    padding-right: 90px;
    padding-left: 125px;
    padding-bottom: 10px;
}

.div_01 {
    display: inline-block;
}

.div_01 p {
    padding-left: 100px;
    color: #000;
    font-weight: 600;
}

.div_02 {
    display: inline-block;
}

.div_02 p {
    padding-left: 125px;
    color: #000;
    font-weight: 600;
}

.titulo_03 {
    text-align: center;
    color: #03A9F4;
    padding-bottom: 30px;
}

.div_03 {
    display: inline-block;
}

.div_04 {
    display: inline-block;
}

.lista_01 {
    font-weight: 600;
    list-style-type: none;
    padding-left: 60px;
    padding-bottom: 20px;
}

.lista_02 {
    font-weight: 600;
    padding-left: 85px;
    padding-bottom: 20px;
    list-style-type: none;
}

.titulo_04 {
    text-align: center;
    color: #fff;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.contato {
    width: 100%;
    max-width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.input_01 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

.footer {
    background-color: #430f73;
    padding: 10px;
   /*  display: flex;
    justify-content: center; */
}

.footer span {
    color: #fff;
    padding-left: 55px;
}

.footer h4 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding-left: 5px;
}
.footer p {
    display: inline-block;
    padding-left: 20px;
    color: #fff;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        background-color: #8a2be2;
        text-align: center;
    }
    .nav-bar {
        margin: 10px 0;
    }
}